<!--

Licensed under the Apache License, Version 2.0 (the "License"); you may not use
this file except in compliance with the License. You may obtain a copy of the
License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed
under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
CONDITIONS OF ANY KIND, either express or implied. See the License for the
specific language governing permissions and limitations under the License.

-->
<div id="interval">
  <label>Poll interval:
    <input type="range" min="1" max="30" value="5" size="3">
    <span class="secs">5</span> second(s)
  </label>
</div>
<table id="status" class="listing" cellspacing="0">
  <caption>Active Tasks</caption>
  <thead><tr>
    <th>Type</th>
    <th>Object</th>
    <th>PID</th>
    <th>Status</th>
  </tr></thead>
  <tbody class="content">
  {{#tasks}}
    <tr>
      <th>{{type}}</th>
      <td class='object'>{{task}}</td>
      <td class='pid'>{{pid}}</td>
      <td class='status'>{{status}}</td>
    </tr>
    {{/tasks}}

    {{^tasks}}
    <tr class='none'><th colspan='4'>No tasks running</th></tr>
   {{/tasks}}
  </tbody>
</table>
{{#stats}}
  <div class="section-wrapper">
  <h2>{{name}}</h2>
    <div class="section-raw">
      <table>
        <tr>
          <th> section </th>
          <th> current </th>
          <th>  sum </th>
          <th>  mean </th>
          <th>  stddev </th>
          <th>  min </th>
          <th>  max </th>
        </tr>
  {{#subsections}}
        <tr>
          <td>{{name}}</td>
          <td>{{current}}</td>
          <td>{{sum}}</td>
          <td>{{mean}}</td>
          <td>{{stddev}}</td>
          <td>{{min}}</td>
          <td>{{max}}</td>
        </tr>
  {{/subsections}}
      </table>
    </div>
</div>
{{/stats}}


